---
import "../styles/global.css";
import Navbar from "../components/shared/navbar.astro";
import Head from "../components/shared/head.astro";

const { title } = Astro.props;
---
<html>
    <head>
        <Head page={title}/>
    </head>
    <body>
        <Navbar/>
        <slot></slot>
    </body>
</html>