---
import "../styles/global.css";
import Navbar from "../components/shared/navbar.astro";
---
<html>
    <head>
        <title>Test</title>
    </head>
    <body>
        <Navbar/>
        <slot></slot>
    </body>
</html>