---
import "../styles/global.css";
import Navbar from "../components/shared/navbar.astro";
import Head from "../components/shared/head.astro";

const { title } = Astro.props;
---
<html>
    <head>
        <Head page={title}/>
    </head>
    <body style="background-image: url('/bg/noise.svg'), linear-gradient(315deg, #CF93CB, #CF93CB, #2C66DB);">
        <Navbar/>
        <slot></slot>
    </body>
</html>