<div class="flex flex-row w-fit pl-4 pr-4 pt-2 pb-2 border-4 border-black rounded-4xl">
    <a href="/" class="ml-6 mr-6">home</a>
    <a href="/" class="ml-6 mr-6">projects</a>
    <a href="/" class="ml-6 mr-6">about</a>
    <a href="/" class="ml-6 mr-6">contact</a>
</div>