<div class="flex justify-center lg:block lg:fixed lg:top-0 lg:right-0">    
    <div class="flex flex-row w-fit pl-4 pr-4 pt-2 pb-2 m-4 border-4 border-white rounded-4xl lg:float-right align-middle justify-center ">
        <a href="/" class="ml-6 mr-6 font-DmSans text-xl tracking-wide text-white">home</a>
        <a href="/" class="ml-6 mr-6 font-DmSans text-xl tracking-wide text-white">projects</a>
        <a href="/" class="ml-6 mr-6 font-DmSans text-xl tracking-wide text-white">about</a>
        <a href="/" class="ml-6 mr-6 font-DmSans text-xl tracking-wide text-white">contact</a>
    </div>
</div>