---
import Default from "../templates/default.astro"
---

<html lang="en">
	<Default title="Home">
		<div class="flex h-screen">
			<div class="flex flex-col justify-center lg:ml-16">
				<h1 class="lg:w-2xl text-7xl p-4 font-DmSans tracking-wide">hi there! I'm David_</h1>
				<p class="lg:w-2xl text-3xl p-4 font-DmSerif tracking-wide">accidental hackathon organiser, student software engineer, co-founder @ youthacks.</p>
				<div class="flex flex-row mt-4">
					<a href="/" class="p-2 pl-8 pr-8 font-DmSans text-xl border-4 border-black rounded-4xl tracking-wide m-4">projects</a>
					<a href="/" class="p-2 pl-8 pr-8 font-DmSans text-xl border-4 border-black rounded-4xl tracking-wide m-4">linkedin</a>
				</div>
			</div>
		</div>
	</Default>
</html>
